// Colors
$primary: hsl(0,2%,12%, 100%);
$secondary:  #9D2235;
$ternary: hsl(0,2%,13%, 100%);
$white: #D9CCC5;

// Fonts
$h1: 1.8rem;
$h1-mobile: 1.2rem;
$h1-ferme: 2.4rem;
$h1-ferme-mobile: 1.4rem;

$h2: 3rem;
$h2-mobile: 1.8rem;

$p: 1.2rem;
$p-mobile: 1rem;






// Header heights
$header-height: 150px;
$header-height-mobile: 100px;

$mobile-menu-wrapper-height: calc(100vh - #{$header-height});
$mobile-menu-wrapper-height-mobile: calc(100vh - #{$header-height-mobile});

// BreakPoints
$xs: 360px;
$s: 760px;
$m: 980px;
$l: 1200px;
$xl: 1440px;