@use '../../styles/variables'as v;
@use '../../styles/mixins'as m;

.about-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: v.$header-height;

  .as-article {
    max-width: 800px;
    margin: 50px;
    font-size: v.$p;
    text-align: justify;
    border: 3px solid v.$white;
    padding: 20px 20px;
  }
}