@use '../../styles/variables'as v;
@use '../../styles/mixins'as m;

.about-section {
  font-family: 'ClementePDai Regular';
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: v.$header-height;

  @include m.bpFactory($max: v.$s) {
    padding-top: v.$header-height-mobile;
  }

  .about-us-last-part {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-content: center;

    .aulp-text {
      font-size: 1.4rem;
      line-height: 1.6rem;
      width: 60%;
      max-width: 800px;
    }
  }
}